* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0d0d0d;
    color: white;
    line-height: 1.6;
}
header {
    text-align: center;
    padding: 20px;
    background: url("../imgs/fondo.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 2px solid #444;
}
header h1 {
    margin-bottom: 10px;
    font-size: 3rem;
}
header p {
    font-size: 1rem;
    color: #ccc;
}
nav ul {
    display:flex;
    list-style: none;
    justify-content: center;
    background: #222;
    padding: 10px 0;
    border-bottom:2px solid #444;
}
nav li{
    margin: 0 15px;
    cursor: pointer;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: red;;
}
main{
    padding: 20px;
    display: grid;
    grid-template-columns: 16rem 1fr 16rem;
    grid-template-areas:
    "aside1 section aside2";
    gap: 2rem;
}

.aside-top{
    grid-area:aside1;
    padding: 2rem;
}
.aside-button{
    grid-area:aside2;
    padding: 2rem;
}
section{
    grid-area: section;
    display:grid;
    grid-template-areas:
    "article1 article2"
    "article3 article4";

}
blockquote{
    font-size: 1rem;
    text-align: center;
    position: sticky;
    top:3rem;
    background: #222;
    border: white solid 0.1rem;
    justify-items: center;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
}
blockquote img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 1rem;
    margin: auto;
}
.article1{
    grid-area: article1;
}
.article2{
    grid-area: article2;
}
.article3{
    grid-area: article3;
}
.article4{
    grid-area: article4;
}
article{
    display: grid;
    background: #222;
    border:white solid 0.1rem;
    grid-template-areas:
    "hgroup hgroup"
    "figure p"
    "footer footer" ;
    grid-template-columns: 1fr 1fr;
    height: auto;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
}
hgroup{
    grid-area: hgroup;
    text-align: center;
    background-color: rgba(192, 192, 192, 0.308);
    height: auto;
    border-radius: 1rem;
    font-size: 1rem;
}
figure{
    display: grid;
    grid-template-areas:
    "img"
    "figcaption";
    grid-area:figure;
    background:rgba(73, 114, 131, 0.342);
    justify-items: center;
    align-content: center;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem;
    margin: 1rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
}
figure img{
    grid-area: img;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 1rem;
    margin: auto;
}
figure figcaption{
    grid-area: figcaption;
    text-align: center;
    font-size: 1rem;
}
.information{
    grid-area:p;
    background-color: rgba(73, 114, 131, 0.342);
    font-size: 1rem;
    padding: 2rem;
    margin:1rem;
    border-radius: 1rem;

}
section footer{
    grid-area: footer;
    text-align: center;
    background: rgba(192, 192, 192, 0.308);
    font-size: 1rem;
    border-radius: 1rem;
}
section footer p a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
section footer p a:hover{
    color: red;
}


